<!-- Title -->
{{ define "title" }}
<title>Wine Database|Home</title>
{{ end }}
<!-- Description -->
{{ define "description" }}
<meta name="description" content="An app to store the wines that we like."> {{ end }}
<!-- Body -->
{{ define "body" }}
<div class="col-md-12">
    <div class="row">
        <h1>Wine Database</h1>
        <h2>List of Bottles <small><a href="/bottle/">Add</a></small></h2>
        <h2>List of Wines <small><a href="/wine/">Add</a></small></h2>
        <h2>List of Stores <small><a href="/store/">Add</a></small></h2>
        <h2>List of Varieties <small><a href="/variety/">Add</a></small></h2>
    </div>
</div>
{{ end }}
