<!-- Title -->
{{ define "title" }}
    <title>Wine Database|Wine</title>
{{ end }}
<!-- Description -->
{{ define "description" }}
    <meta name="description" content="This is the wine app wine page">
{{ end }}
<!-- Body -->
{{ define "body" }}
    <style>
        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            #map {
                height: 265px;
            }
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            #map {
                height: 450px;
            }
        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            #map {
                height: 585px;
            }
        }
    </style>
    <div class="row">
        <div class="col-sm-12">
            <h1>
                {{.Wine.Winery}} {{with .Wine.Name }}{{ . }} {{end}}{{ .Variety.Name }}<br/>
                <small>{{ .Wine.Style }} wine{{with .Wine.Region}} from {{ . }}{{end}}</small>
            </h1>
            <!-- TODO display partial stars without rounding -->
            <span class="rating" rating="{{printf "%.1f" .Wine.AvgRating }}"></span>
            <strong>&nbsp;&nbsp;&nbsp;Best: {{ .Wine.BestYears }}</strong>
        </div>
        {{with .Wine.Information}}
            <div class="row text-center col-sm-10 col-sm-offset-1">
                    <em style="font-size:1.6rem">{{ . }}</em><br/><br/>
            </div>
        {{end}}
        {{with .Wine.LastImage}}
            <div class="col-sm-6 col-sm-push-6">
                <img src="//data.wineapp.org/{{.}}" alt="Bottle Image" class="img-responsive">
            </div>
        {{end}}
        <div class="col-sm-6 {{with .Wine.LastImage}}col-sm-pull-6{{end}}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong  style="font-size:1.6rem;">Price Information</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Lowest Regular</strong>
                        </div>
                        <div class="col-sm-8">
                            {{if ne .Wine.MinRegularPrice 0.0}}
                                <a href="/purchase/{{ .Wine.MinRegularSlug }}">${{printf "%.2f" .Wine.MinRegularPrice }}</a>
                            {{else}}
                                Only bought on sale
                            {{end}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Lowest On Sale</strong>
                        </div>
                        <div class="col-sm-8">
                            {{if ne .Wine.MinSalePrice 0.0}}
                                <a href="/purchase/{{ .Wine.MinSaleSlug }}">${{printf "%.2f" .Wine.MinSalePrice }}</a>
                            {{else}}
                                Never bought on sale
                            {{end}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Highest</strong>
                        </div>
                        <div class="col-sm-8">
                            <a href="/purchase/{{ .Wine.MaxSlug }}">${{printf "%.2f" .Wine.MaxPrice }}</a>
                        </div>
                    </div>
                    <!-- FUTUREUPGRADE Price Histogram (average on graph)<br> -->
                </div>
            </div>
            <div id="map" class="visible-sm-block visible-md-block visible-lg-block"></div>
            <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <!-- TODO: Modify so this isn't super zoomed in when only one point. -->
            <script>
                var map = new google.maps.Map(document.getElementById('map')),
                    markers = [],
                    bounds = new google.maps.LatLngBounds(),
                    infowindow = new google.maps.InfoWindow({
                        maxWidth: 200
                    });

                var stores =[
                    {{range $store := .Stores}}
                        {
                            name: {{$store.Name}},
                            address: {{$store.Address}} + "<br>" + {{$store.City}} + ", " + {{$store.State}} + " " + {{$store.Zip}},
                            lat: {{$store.Lattitude}},
                            lng: {{$store.Longitutde}},
                            website: {{$store.Website}},
                            lastPurchase: {{$store.LastPurchased.Format "Jan 2, 2006" }},
                            numPurchased: {{$store.NumPurchased}},
                            minPrice: "$" + {{printf "%.2f" $store.MinPrice}},
                        },
                    {{end}}
                ];

                google.maps.event.addDomListener(window, "load", initialize);
                function initialize() {
                    stores.forEach(function(result, i) {
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(result.lat, result.lng),
                            title: result.name,
                            map: map
                        });
                        result.marker = marker;
                        markers.push(marker);
                        bounds.extend(marker.position);
                        result.infoWindowContent = "<h4><a href='//" + result.website + "'>" + result.name + "</a></h4><strong>Address</strong><br>" + result.address+ "<br><br>" + "<strong>Last Purchased</strong><br>" + result.lastPurchase + "<br><br>" + "<strong>Number of Purchases</strong><br>" + result.numPurchased + "<br><br>" + "<strong>Lowest Price</strong><br>" + result.minPrice;

                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                                infowindow.setContent(result.infoWindowContent);
                                infowindow.open(map, marker);
                            };
                        })(marker, i));
                    });

                    map.fitBounds(bounds);
                }
            </script>
        </div>
    </div>
    <h2 class="col-sm-12 row">Purchases by Store</h2>
    {{range $store := .Stores }}
        <div class="col-sm-12 row">
            <div class="panel panel-default">
                <div class="panel-heading"><strong style="font-size:1.6rem;"><a href="/store/{{ $store.Id.Hex }}">{{ $store.Name }} - {{ $store.City }}</a></strong></div>
                <div class="panel-body">
                    {{range $index, $purchase := $store.Purchases}}
                        <div class="purchase col-sm-4">
                        {{if ge $index 3}}<hr class="hidden-xs">{{end}}
                        {{if ne $index 0}}<hr class="hidden-sm hidden-md hidden-lg">{{end}}
                            <div><strong><a href="/purchase/{{$purchase.Id.Hex}}">{{ $purchase.DatePurchased.Format "January 2, 2006" }}</a></strong></div>
                            <em>{{ $purchase.Year }} Vintage</em><br>
                            <span class="rating" rating="{{ $purchase.Rating }}"></span>{{with $purchase.BuyAgain }}<strong>&nbsp;&nbsp;&nbsp;Buy again!</strong>{{end}}<br>
                            <div class="row">
                                <div class="col-sm-5">
                                    <strong>Price</strong>
                                </div>
                                <div class="col-sm-7">
                                    ${{printf "%.2f" $purchase.Price}}{{with $purchase.OnSale }} (On sale){{end}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <strong>Date Drank</strong>
                                </div>
                                <div class="col-sm-7">
                                    {{if not $purchase.DateDrank.IsZero }}{{ $purchase.DateDrank.Format "Jan 2, 2006"}}{{else}}Not Entered{{end}}
                                </div>
                            </div>
                        </div>
                    {{end }}
                </div>
            </div>
        </div>
    {{ end }}
    <script src="/js/jquery.raty.js"></script>
    <script>
    $(".rating").raty({
        path: "/img/",
        hints: ["Bad", "Poor", "Regular", "Good", "Great"],
        readOnly: true,
        score: function() {
            return $(this).attr("rating");
          },
    });
    </script>
{{ end }}
